body{
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .params{
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
  }
  
  canvas{
    background: #000;
    width: 100%;
    height: 100%;
    
  }

  /* La propiedad CSS overflow: hidden se utiliza para controlar el comportamiento de un contenedor cuando el contenido dentro de él es más grande que el tamaño del contenedor. Cuando se aplica esta propiedad a un elemento, cualquier contenido que sobresalga del área del contenedor se ocultará y no será visible para el usuario. */