/* estilos generales */
/*  selector universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Lato', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(imagenes/image.png) no-repeat center center/cover; /* unificado */
    /* si le pongo background-image no me toma las demas propiedades del background */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */

}

/* contenedor */

#contenedor{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
min-height: 80vh;
width: 80vh;
max-width: 600px;
background-color: rgba(255, 255, 255, 0.712);
border: 4px solid black;
}

h1{
    font-size: 3rem;
    width: 100%;
    margin: 20px 10px;
}

ul{
    width: 100%;
    height: 100%;
}

.topping{
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 15px 0;
    color: white;
}

.fondo-marron{
    background-color: brown;
}

.fondo-naranja{
    background-color: coral;
}

/* .texto-verde {	
    color: rgb(7, 251, 7);
} */