/*  selector universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Lato', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: darkorange;
    background-image: url(imagenes/image.png);
}